img {
  height: 20px;
}

p {
  margin-bottom: 0;
}

.card {
  border-color: #4d4e4e;
  border-width: 3px;
  width: 600px;
  height: 360px;
  margin-top: 50px;
}

.button {
  background-color: #8ec9f9;
  border-radius: 25px;
  border-style: none;
  padding: 10px 20px;
}

.field {
  border-style: solid;
  border-color: #4d4e4e;
  border-width: 3px;
  padding: 10px 15px;
  margin-right: 25px;
  width: 300px;
  margin-top: 15px;
}

#new-city {
  margin-top: 10px;
  margin-bottom: -20px;
}

.col-6 {
  padding-left: 0;
}

.horizontal-list {
  display: flex;
}

.cell {
  padding: 5px;
  width: 10%;
}

#current-location {
  color: #fff;
  background-color: #28a745;
  border-radius: 25px;
  border-style: none;
  padding: 10px 10px;
  margin-left: 5px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}
