body {
}

img {
  height: 20px;
}

p {
  margin-bottom: 0;
}

/* .card {
  border-color: #4d4e4e;
  border-width: 3px;
  width: 600px;
  height: 360px;
  margin-top: 50px;
} */

.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background-color: #f2e6d8;
}

.button {
  /* background-color: #8ec9f9; */
  background-color: #f285e0;
  border-radius: 25px;
  border-style: none;
  padding: 15px 25px;
  margin-top: 5px;
}

.field {
  border-style: solid;
  border-color: #4d4e4e;
  border-width: 3px;
  padding: 10px 15px;
  margin-right: 25px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#new-city {
  margin-top: 10px;
  margin-bottom: -20px;
}

.col-6 {
  padding-left: 0;
}

.horizontal-list {
  display: flex;
}

.cell {
  padding: 5px;
  width: 10%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

#current-location {
  color: #fff;
  background-color: #28a745;
  border-radius: 25px;
  border-style: none;
  padding: 10px 10px;
  margin-left: 5px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}
