body {
  
    background-image: url('/img/dharmendra-sahu-Ia2Kjtrx8y4-unsplash.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;  
}

img {
  height: 20px;
}

p {
  margin-bottom: 0;
}

a{
  color: white;
}



.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
  margin-top: 75px;
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
/* background-color: #F9EB68 */
  background-color: #f2e6d8;
  
}

.button {
  background-color: #8ec9f9;
  border-radius: 25px;
  border-style: none;
  padding: 15px 25px;
  margin-top: 5px;
}

.field {
  border-style: solid;
  border-color: #4d4e4e;
  border-width: 3px;
  padding: 10px 15px;
  margin-right: 25px;
  width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#new-city {
  margin-top: 10px;
  margin-bottom: -20px;
}

.col-6 {
  padding-left: 0;
}

.horizontal-list {
  display: flex;
}

.cell {
  padding: 5px;
  width: 10%;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

#current-location {
  color: #fff;
  background-color: #28a745;
  border-radius: 25px;
  border-style: none;
  padding: 10px 10px;
  margin-left: 5px;
}

.weather-temperature img {
  height: 64px;
  width: 64px;
}


